<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nvPressPanel</title>
    <script type="module" crossorigin src="/assets/index-2f9b0bd3.js"></script>
    <link rel="modulepreload" crossorigin href="/js/.pnpm/.pnpm.ec78171a.js">
    <link rel="modulepreload" crossorigin href="/js/_plugin-vue_export-helper/_plugin-vue_export-helper.1b428a4d.js">
    <link rel="modulepreload" crossorigin href="/js/index/index.d7eec435.js">
    <link rel="stylesheet" href="/assets/.pnpm-a2176d73.css">
    <link rel="stylesheet" href="/assets/index-f366c606.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
