[Unit]
Description=nvpress
Documentation=https://docs.panda-studio.cn:8282/?shelf=nvPress
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /www/nvpresspanel/App.py
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
StandOutput=syslog


StandError=inherit

[Install]
WantedBy=multi-user.target